.form {
  margin: var(--margin) auto;
}

.form__label,
.form__input,
.form__textarea {
  display: block;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
}

.form__label {
  margin: 0 0 var(--margin) 0;
  color: color(heading);
}

.form__input,
.form__textarea {
  padding: 20px;
  border: 1px solid rgba(color(text), 0.3);
  margin: 0 0 calc(var(--margin) * 2) 0;
  outline: none;
  border-radius: 3px;
  min-width: 300px;
  min-height: 60px;
  font-family: var(--fontPrimaryRegular);
  color: color(text);
}

.form__textarea {
  min-height: 120px;
  min-width: 600px;
}
