.intro {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.intro__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.intro__name,
.intro__role {
  text-align: left;
}

.intro__name {
  position: relative;
  display: flex;
  padding: 2.5rem 0 2rem 0;
  line-height: 2rem;
}

.intro__name__line {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 0.05rem;
  width: 100%;
  background: color(gradient);
  transform-origin: 50% 0;
}

.intro__name__word {
  opacity: 0;
  display: inline-block;
  padding: 0;
  margin: 0;
  letter-spacing: 0.4rem;
  font-size: 1.6rem;
  background-image: color(gradient);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: introNameColor 0.5s infinite;

  @keyframes introNameColor {
    from { background-position: 0 0; }
    to { background-position: 0 100%; }
  }

  &.intro__name__word--firstname {
    padding-right: 0.5rem;
  }

  &.intro__name__word--lastname {
    padding-left: 0.5rem;
  }
}

.intro__role {
  display: block;
  margin: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.intro__wave {
  width: 50vw;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.intro__quote {
  text-align: right;
  white-space: normal;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  position: absolute;
  right: 0;
  bottom: 2rem;
}

.intro__quote__text {
  font-size: 1.2rem;
  padding: 0 0 1rem 0;
}

.intro__quote__author {
  font-size: 1.2rem;
}
