.quote {
  text-align: left;
  word-break: keep-all;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.quote__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
}

.quote__text {
  color: color(text);
  text-decoration: none;
  display: inline-block;
  font-size: 3.2rem;
  padding: 0;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(to left, darken(color(loud), 30%), color(loud));
  background-repeat: repeat;
  background-position: 100% 0;
  background-size: 150%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: all 0.3s ease-out;
}

.quote__author {
  font-size: 1.2rem;
  margin: 2rem 0;
  display: flex;
  letter-spacing: 0.2rem;
  position: relative;
  padding-left: 2.5rem;
  
  &:before {
    content: '';
    background-color: color(text);
    height: 0.1rem;
    width: 2rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
