.sentinel {
  width: 100%;
  height: 2px;
  visibility: hidden;
  position: absolute;
  left: 0;
}

.sentinel--in {
  top: 0;
}

.sentinel--center {
  top: 50%;
  transform: translateY(-50%);
}

.sentinel--out {
  bottom: 0;
}
